

<div class="form-edit-filters">
  <h3>Edit Profile</h3>
<%= simple_form_for @user do |f| %>
  <%= f.error_notification %>

  <!-- Edit User Photo -->
  <%= f.input :photo %>
  <%= f.input :photo_cache, as: :hidden %>
  <!-- [...] -->

  <%= f.input :first_name%>
  <%= f.input :last_name %>


  <%= f.input :location, as: :radio_buttons, collection: @location, wrapper: :vertical_collection_inline %>

  <%= f.input :skills, as: :radio_buttons, collection: @skills, wrapper: :vertical_collection_inline%>


  <%= f.input :seniority, as: :radio_buttons, collection: @seniority, wrapper: :vertical_collection_inline%>


  <%= f.input :job_type, as: :radio_buttons, collection: @job_type, wrapper: :vertical_collection_inline %>

  <%= f.input :contract_type, as: :radio_buttons, collection: @contract_type, wrapper: :vertical_collection_inline %>

  <%= f.input :position, as: :radio_buttons, collection: @position, wrapper: :vertical_collection_inline %>

  <%= f.input :benefits, as: :radio_buttons, collection: @benefits, wrapper: :vertical_collection_inline %>

  <%= f.input :min_salary, collection: @min_salary, prompt: :translate %>

  <div>
  <%= f.button :submit, "Save", class: "btn btn-primary edit-submit-button" %>
  <%= button_tag t('buttons.cancel'), class: "btn btn-outline-secondary edit-cancel-button", type: "submit", name: "cancel", value: true %>
  <%= link_to "Reset", filter_path, class: "btn btn-primary edit-reset-button", :method => :patch %>
  </div>
<% end %>
</div>
