<!-- navbar -->


<!-- profile page -->
<div class="container">
  <div class="row">
    <div class="col-12">
      <div clas = "profile">
        <div class="profile-pic-name">
          <div> <img class="avatar-large-profile" alt="avatar-large" src="https://kitt.lewagon.com/placeholder/users/arthur-littm" /></div>
          <div>
            <h1 class="bold-text-profile-name"><%= @user.first_name%> <%=@user.last_name %></h1>
            <h5 class="email-text-profile"><%= @user.email %></h5>
          </div>
        </div>
        <div class="profile-about">
          <h6 class="headingcolor">ABOUT</h6>
          <p class="fontcolor">
            Lorem ipsum dolor sit amet, consectetur adipisicing elit. Unde consequatur nostrum provident earum omnis, impedit rerum facere accusamus, molestias, quos error veniam eligendi quisquam numquam alias dignissimos. Beatae, officiis, quae!
          </p>
        </div>

        <div class="profile-experience">
          <h6 class="headingcolor">EXPERIENCE</h6>
          <p class="experience-font">input of linkedin?</p>
          <hr class="experience-font">
          <p class="experience-font">more information</p>
          <hr class="experience-font">
        </div>


      <div class="all-filters">
        <div class="profile-filter">
          <div class="headingcolor"> SKILLS: </div>
          <button class="button-font-color rounded-button"> <%=  @user.skills %></button>
        </div>

        <div class="profile-filter">
          <div class="headingcolor"> LOCATION: </div>
          <button class="button-font-color rounded-button"> <%=  @user.location %></button>
        </div>

        <div class="profile-filter">
          <div class="headingcolor"> SENIORITY: </div>
          <button class="button-font-color rounded-button"> <%=  @user.seniority %></button>
        </div>

        <div class="profile-filter">
          <div class="headingcolor"> POSITION: </div>
          <button class="button-font-color rounded-button"> <%=  @user.position %></button>
        </div>

        <div class="profile-filter">
          <div class="headingcolor"> JOB-TYPE: </div>
          <button class="button-font-color rounded-button"> <%=  @user.job_type %></button>
        </div>

        <div class="profile-filter">
          <div class="headingcolor"> CONTRACT-TYPE: </div>
          <button class="button-font-color rounded-button"> <%=  @user.contract_type %></button>
        </div>

        <div class="profile-filter">
          <div class="headingcolor"> MIN-SALARY: </div>
          <button class="button-font-color rounded-button"> <%=  @user.min_salary %></button>
        </div>

        <div class="profile-filter">
          <div class="headingcolor"> BENEFITS: </div>
          <button class="button-font-color rounded-button"> <%=  @user.benefits %></button>
        </div>

      </div>

        <div class="profile-link">
          <%= link_to offers_path do  %>
          <%= image_tag("rockt_button.png",  :class => "img-fluid", :alt => "footer")    %>
          <% end %>

        </div>
      </div>
    </div>
  </div>
</div>


<!--  <p><%= @user.location %> </p>
  <p><%= @user.seniority %> </p> -->
  <!-- :email, :role, :first_name, :company_name, :company_photo, :user_photo) -->




