<div class="container">
  <div class="col-12">
    <div class = "profile">
      <div class="profile-pic-name">
        <div>
          <% if @user.photo? %>
          <%= cl_image_tag @user.photo, height: 400, width: 400, crop: :fill, :class => "avatar-large-profile" %>
          <% else %>
          <%= image_tag image_url("default-avatar.png"), width: 400, width: 400, crop: :fill, :class => "avatar-large-profile" %>
          <% end %>
        </div>
        <div>
          <h1 class="bold-text-profile-name">
            <%= @user.first_name%> <%=@user.last_name %>
          </h1>
          <h5 class="email-text-profile">
            <%= @user.email %>
          </h5>
        </div>
      </div>

      <div class="profile-about">
        <h6 class="headingcolor"> <i class="fa fa-user"></i>ABOUT</h6>
        <p class="fontcolor">
          Hello! My name is Karen and I am a 28 year old nature-lover and free spirit ✌️ I worked for the past years as a front-end developer in Baltimore mostly with Javascript (React). But I am ready to take the next step and become a full-stack developer! Hire me!</p>
      </div>

      <div class="profile-experience">
        <h6 class="headingcolor"><i class="fa-fw fas fa-briefcase"></i>EXPERIENCE</h6>
        <p class="fontcolor">Find me on LinkedIn.</p>
        <hr class>
        <p class="fontcolor">Computer Science Degree - Baltimore Community College (2012-2015)</p>
        <hr>
      </div>
    <div class="current-filters mb-4 mt-4">
      <h6> CURRENT FILTERS </h6>
    </div>
      <div class="row">
          <% unless @user.skills.to_s.strip.empty? %>
            <div class="col-6 mb-3">
              <div class="profile-filter">
                <div class="profile-filter-label"> Skill </div>
                <div class="profile-filter-value"> <i class="fa fa-tools"></i> <%= @user.skills %></div>
              </div>
            </div>
          <% end %>

          <% unless @user.location.to_s.strip.empty? %>
            <div class="col-6 mb-3">
              <div class="profile-filter">
                <div class="profile-filter-label"> Location </div>
                <div class="profile-filter-value"> <i class="fa fa-map-marker-alt"></i>  <%= @user.location %></div>
              </div>
            </div>
          <% end %>

          <% unless @user.seniority.to_s.strip.empty? %>
            <div class="col-6 mb-3">
              <div class="profile-filter">
                <div class="profile-filter-label"> Seniority: </div>
                <div class="profile-filter-value"> <i class="fa fa-address-card">  </i>  <%= @user.seniority %></div>
              </div>
            </div>
          <% end %>

          <% unless @user.job_type.to_s.strip.empty? %>
            <div class="col-6 mb-3">
              <div class="profile-filter">
                <div class="profile-filter-label"> Job Type </div>
                <div class="profile-filter-value"> <i class="fa fa-clock"></i>  <%= @user.job_type %></div>
              </div>
            </div>
          <% end %>

          <% unless @user.position.to_s.strip.empty? %>
            <div class="col-6 mb-3">
              <div class="profile-filter">
                <div class="profile-filter-label">Position</div>
                <div class="profile-filter-value"> <i class="fa fa-briefcase"></i>  <%= @user.position %></div>
              </div>
            </div>
          <% end %>

          <% unless @user.contract_type.to_s.strip.empty? %>
            <div class="col-6 mb-3">
              <div class="profile-filter">
                <div class="profile-filter-label">Contract Type</div>
                <div class="profile-filter-value"> <i class="fa fa-file-alt"></i>  <%= @user.contract_type %></div>
              </div>
            </div>
          <% end %>

          <% unless @user.min_salary.nil? %>
            <div class="col-6 mb-3">
              <div class="profile-filter">
                <div class="profile-filter-label d-block"> Min Salary </div>
                <div class="profile-filter-value"> <i class="fa fa-euro-sign"></i>  <%=  @user.min_salary %></div>
              </div>
            </div>
          <% end %>

          <% unless @user.benefits.to_s.strip.empty? %>
            <div class="col-6 mb-3">
              <div class="profile-filter">
                <div class="profile-filter-label">Benefits</div>
                <div class="profile-filter-value"> <i class="fa fa-smile"></i>  <%= @user.benefits %></div>
              </div>
            </div>
          <% end %>
        </div>
      </div>
      <div class="profile-link">
        <%= link_to offers_path, :class => "profile-link" do  %>
        <%= image_tag("rockt_button.png",  :class => "rocket-button", :alt => "footer")    %>
        <% end %>
      </div>
    </div>
  </div>

