
<div class ="navbar-background">

  <nav class="navbar navbar-expand navbar-dark bg-purple navbar-space-between">
      <div>
        <a href="#menu-toggle" id="menu-toggle" class="navbar-brand">
          <span class="navbar-toggler-icon"></span>
        </a>
      </div>
      <div>
        <a class="edit-filters-button" href="#">Edit filters</a>
      </div>
  </nav>
  <div id="wrapper">
    <div id="sidebar-wrapper">
      <ul class="sidebar-nav">
        <li class="sidebar-brand"><%= link_to "Home", root_path %></li>

        <li><%= link_to "Profile", user_path(current_user.id)%></li>
        <li><%= link_to "Browse jobs", offers_path %></li>
        <li><%= link_to "All matches", swipes_path %></li>
        <li><%= link_to "Chats", root_path %></li>
        <li><%= link_to "Settings", root_path %></li>
        <li><%= link_to "Log out", destroy_user_session_path(@user) %></li>

      </ul>
    </div>
    <div id="page-content-wrapper">
      <div class="container-fluid">
        <div class="row">

        </div>
      </div>
    </div>
  </div>

 <div class="navbar-background footer fixed-bottom">
        <div class="footer-top d-flex justify-content-center">
            <%= image_tag("footer.png", :class => "img-fluid", :alt => "footer") %>
        </div>
    </div>
</div>
