  <div class = "match_background">
  <div class ="navbar-background">
    <div class="match_background-lines"></div>


  <!--Logo-->
  <div class="row">
    <div class="col-xs mx-auto d-block mt-5">
      <%= image_tag("logo.png", :alt => "logo") %>
    </div>
  </div>

  <!--Text-->
  <div class="container">
    <div class="row">
      <div class="col-xs mx-auto d-block mt-3">
        <h4 class="match_font"> <b> match = <span class="match_result_font">true</span> </b> </h4>
      </div>
    </div>
  </div>

<!--Avatars-->
 <div class="row">
    <div class="col-xs mx-auto d-block mt-5">
      <%= image_tag("girl1.jpg", :class => "match_avatars", :alt => "avatar") %><%= image_tag("google_logo.png", :class => "match_avatars", :alt => "avatar") %>
    </div>
  </div>

  <!--button1-->
  <div class="row">
    <div class="col text-center">
      <button class="match_go-to-chat_button">
        Go to chat <i class="fa fa-comment"></i>
      </button>
    </div>

  </div>

  <!--button2-->
  <div class="row">
    <div class="col text-center">
      <%= link_to 'Back to swipe ', offers_path, class:"match_back-to-swipe_button"%>
       <i class="fa fa-undo-alt"></i>
    </div>
  </div>

<!--footer-->
  <div class="footer fixed-bottom">
    <div class="footer-top d-flex justify-content-center">
      <%= image_tag("footer.png", :class => "img-fluid", :alt => "footer") %>
    </div>
  </div>
</div>
</div>
