  <!--LOGIN-->

    <div class="container-fluid">
      <div class="background-lines opacity-level-2"></div>
      <!--Logo-->
      <div class="row mt-4 mb-3">
        <div class="col-xs mx-auto d-block">
          <%= image_tag("logo.png", :alt => "logo") %>
        </div>
      </div>


      <div class="row d-block">
        <div class="col col-sm-8 col-md-6 col-lg-6 offset-sm-2 offset-md-3 offset-lg-3">

          <%= simple_form_for(resource, as: resource_name, url: session_path(resource_name)) do |f| %>
          <div class="form-inputs">
            <%= f.input :email,
            required: true,
            autofocus: true,
            input_html: { placeholder: "Email" }, :class => "form-control" %>
            <%= f.input :password,
            required: true,
            input_html: { placeholder: "Password" }, :class => "form-control"%>
            <%= f.input :remember_me, as: :boolean if devise_mapping.rememberable? %>
          </div>

          <div class="form-actions">
            <%= f.button :submit, "Login", :class => "btn btn-lg btn-block button-sign-up" %>
          </div>
          <% end %>

             <div>
            <% if user_signed_in? %>
            Signed in as <%= current_user.name %>. Not you?
            <%= link_to "Sign out", destroy_user_session_path,:method => :delete %>
            <% else %>
            <%= link_to "Sign up", new_user_registration_path %>
            <% end %>
          </div>

            <%= render "devise/shared/links" %>
