<!-- <div id="page-content-wrapper">
 -->
 <div class="no-results" style="background-image: linear-gradient(rgba(0,0,0,0),rgba(0,0,0,0.1)), url(<%= asset_path 'nomore.png' %>);">
    <%#= image_tag 'nodatafull.png' %>
  <div class="container-fluid">
    <div class="row offers-block-list">
      <div class="col-sm-12 col-md-12 col-lg-8 mx-auto d-block noselect">
        <% @offers.each_with_index do |offer, index|%>
          <div class="card card-custom bg-white border-white border-0 swipe-card" data-id="<%= offer.id %>" style="z-index: <%= index + 1 %>; top: <%= 0.2 * (index + 1) %>px; left: <%= 0.8* (index + 1) %>px;">
            <div class="card-custom-background">
              <div class="row">
                <div class="col-3">
                  <div class="card-custom-avatar mt-3 ml-3 mb-3">
                    <% unless offer.company_photo.nil? %>
                      <%= image_tag offer.company_photo %>
                    <% end %>
                  </div>
                </div>
                <div class="col-9">
                  <h4 class="card-position mt-4 ml-2 card-custom-position">
                    <%= offer.position %> developer
                  </h4>
                  <div class="card-feature-item ml-2 card-custom-company">
                    <%= offer.company_name %>
                  </div>
                </div>
              </div>
            </div>
            <div class="col pt-4 pb-4 card-feature">
              <div class="row section-1">
                <div class="offset-1 col-5 card-feature-item">
                  <p> <%= offer.min_salary %> </p>
                  <i class="fa fa-euro-sign" style="color:#D6D6D6"></i> <small>Min. salary</small>
                </div>
                <div class="col-6 card-feature-item">
                  <p> <%= offer.job_type %> </p>
                  <i class="fa fa-clock" style="color:#D6D6D6"></i> <small>Job Type</small>
                </div>
              </div>
              <div class="row section-2">
                <div class="offset-1 col-5 mt-3 card-feature-item">
                  <p> <%= offer.contract_type %> </p>
                  <i class="fa fa-file-alt" style="color:#D6D6D6"></i> <small>Type of Contract</small>
                </div>
                <div class="col-6 mt-3 card-feature-item">
                  <p> <%= offer.location %> </p>
                  <i class="fa fa-map-marker-alt" style="color:#D6D6D6"></i> <small>Location</small>
                </div>
              </div>
            </div>
            <div class="col pt-4">
              <h5 class="card-title card-item-title">Description</h5>
              <p class="card-text card-item-description">
                <%= offer.description %>
              </p>
            </div>
            <div class="card-footer d-flex justify-content-center card-custom-background">
              <button id="buttonReject" class="btn btn-lg mr-3 card-custom-shadow button-reject">
                <i class="fa fa-times fa-2x"></i>
              </button>
              <button id="buttonLike" class="btn ml-3 card-custom-shadow button-accept">
                <i class="fa fa-check fa-2x"></i>
              </button>
            </div>
          </div>
        <% end %>
      </div>
    </div>
  </div>
  <div class="footer fixed-bottom">
    <div class="footer-top d-flex justify-content-center">
      <%= image_tag("footer.png", :class => "img-fluid", :alt => "footer") %>
    </div>
  </div>
</div>
</div>


