
<% @offers.each do |offer|%>
<p><%= offer.location %></p>
<p><%= offer.job_type %></p>
<p><%= offer.contract_type %></p>
<p><%= offer.skills %></p>
<p><%= offer.position %></p>
<p><%= offer.benefits %></p>
<p><%= offer.seniority %></p>
<% end %>

    <div class="footer fixed-bottom">
        <div class="footer-top d-flex justify-content-center">
            <%= image_tag("footer.png", :class => "img-fluid", :alt => "footer") %>
        </div>
    </div>
</div>

